.ant-card {
    width: 5vw;
    height: 12.5vh;
    float: left;
    text-align: center;

}

.ant-card.ant-card-bordered {
    margin-top: 1vh;
    margin-left: 1vw;
}

.TransformCard {
    min-width:60px;
    background-color: #1890FF !important;
    border-radius: 10px !important;
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard > div > div > div > div > div > div > div > div > table > tbody > tr {
    /* background-color: #EDF2F4; */
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard > div > div > div > div > div > div > div > div > table > tbody > tr > td > div > div > button {
    /* background-color: #EDF2F4; */
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard {
    background-color: #c0c0c0;
}

#root > div > section > section > aside > div {
    background-color: #E9E9E9;
}

#root > div > section > section > main {
    background-color: #E9E9E9;
}

#root > div > section > header {
    background-color: #F2F2F2;
}

#root > div > section > section > main > div > div > div > div > div > div > div > table > tbody > tr {
    line-height: 20px;
}

#root > div > section > section > main > div > div > div > div > div > div > div.ant-table-header > table > thead > tr:nth-child(2) {
    line-height: 0;
    font-size: 12px;
}

#root > div > section > section > main > div > div > div > div > div > div > div.ant-table-header > table > thead > tr:nth-child(1) {
    line-height: 1;
}

.sidecard {
    min-width: 28vw;
    min-height: 73vh;
}

.steps {
    min-width: 24vw;
    min-height: 63vh;
}

.step {
    min-width: 22vw;
    min-height: 10vh;
}

#blah2 {
    width: 450px !important;
}

img {
    width: 2.5vw;
}

.ant-card-body {
    padding: 0.5vw !important;
}

.cardTest {
    padding-top: 1.75vh;
    font-size: 1vw;
}

.datatable th {
    white-space: pre-line;
}

#csvDownload {
    margin-top: 10px;
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard > div > div > div > div > div > div > div > table > tbody > tr.ant-table-row.ant-table-row-level-0.read {
    cursor: pointer;
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard > div > div > div > div > div > div > div > table > tbody > tr.ant-table-row.ant-table-row-level-0 > td > div {
    float: right;
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard > div > div > div > div > div > div > div > div > table > tbody > tr.ant-table-row.ant-table-row-level-0 > td {
    text-align: center;
    text-transform: capitalize;
}

.ant-table-tbody > tr > td {
    min-width: 71px;
}