.ant-card {
    width: 5vw;
    height: 12.5vh;
    float: left;
    text-align: center;
    background-color: #d9d9d9 !important;

}

.DeleteBtn:hover {
    color:red !important;
    border-color: red !important;
}

.ant-card.ant-card-bordered {
    margin-top: 1vh;
    margin-left: 1vw;
}

.TransformCard {
    min-width:60px;
    background-color: #1890FF !important;
    border-radius: 10px !important;
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard > div > div > div > div > div > div > div > div > table > tbody > tr {
    /* background-color: #EDF2F4; */
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard > div > div > div > div > div > div > div > div > table > tbody > tr > td > div > div > button {
    /* background-color: #EDF2F4; */
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard {
    background-color: #c0c0c0;
}

#root > div > section > section > aside > div {
    background-color: #E9E9E9;
}

#root > div > section > section > main {
    background-color: #E9E9E9;
}

#root > div > section > header {
    background-color: #d9d9d9;
}

#root > div > section > section > main > div > div > div > div > div > div > div > table > tbody > tr {
    line-height: 20px;
}

#root > div > section > section > main > div > div > div > div > div > div > div.ant-table-header > table > thead > tr:nth-child(2) {
    line-height: 0;
    font-size: 12px;
}

#root > div > section > section > main > div > div > div > div > div > div > div.ant-table-header > table > thead > tr:nth-child(1) {
    line-height: 1;
}

.sidecard {
    min-width: 28vw;
    min-height: 73vh;
}

.steps {
    min-width: 24vw;
    min-height: 63vh; 
}

.step {
    min-width: 22vw;
    min-height: 10vh;
    height: 10vh;
}

#blah2 {
    width: 450px !important;
    height: 50vh !important;
}

#readCustom {
    width: 450px !important;
    height: 30vh !important;
}

#joinCustom {
    width: 450px !important;
    height: 25vh !important;
}



img {
    width: 2.5vw;
}

.ant-card-body {
    padding: 0.5vw !important;
}

.cardTest {
    padding-top: 1.75vh;
    font-size: 0.8vw;
    line-height: 0.8vw;
}

.datatable th {
    white-space: pre-line;
}

#csvDownload {
    margin: 10px;
    width: 10vw;
    height: 4vh;
    font-size: 2vh;
}

#airflowDownload {
    margin: 10px;
    width: 15vw;
    height: 4.3vh;
    font-size: 2vh;
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard > div > div > div > div > div > div > div > table > tbody > tr.ant-table-row.ant-table-row-level-0.read {
    cursor: pointer;
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard > div > div > div > div > div > div > div > table > tbody > tr.ant-table-row.ant-table-row-level-0 > td > div {
    float: right;
}

#root > div > section > section > aside > div > div > div.ant-card.ant-card-bordered.sidecard > div > div > div > div > div > div > div > div > table > tbody > tr.ant-table-row.ant-table-row-level-0 > td {
    text-align: center;
    text-transform: capitalize;
}

.ant-table-tbody > tr > td {
    min-width: 71px;
}