.ant-card {
    max-width: 5vw;
    max-height: 13vh;
    float: left;
    text-align: center;

}

.ant-card.ant-card-bordered {
    margin-top: 1vh;
    margin-left: 1vw;
}

.sidecard {
    min-width: 28vw;
    min-height: 73vh;
}

.steps {
    min-width: 24vw;
    min-height: 63vh;
}

.step {
    min-width: 22vw;
    min-height: 10vh;
}